
.main
{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image
{
    width: 250px;
    height: 250px;
    border-radius: 150%;
}