ion-content{
  position: absolute;
  transform: translateY(10%);

  #items{
    --background:#DDE7FF ;
    --border-style:none;
   
    
   
    #input{
      font-size: 1rem;
    }

    #icon{
      font-size: 2rem;
      color: black;
      text-transform: 500;
      
    }
  } 
  #button{
    --background:#5500CC;
    margin: 1rem;
   padding-top: 20%;
  
  }
  #text{
    margin: 1rem;
    margin-top: 2rem;
  }
 

}